.intro {
  padding-top: 105px;
  color: $almostwhite;
  padding-left: 140px;
  margin: 0px;
}

.slider {
  padding-left: 540px;
}

.latestwork {
  margin: 0px;
  color: $purple;
  padding-top: 50px;
  padding-bottom: 20px;
}
