<ul class="footer">
  <div class="">
    <li class="p-footer"><strong>Follow me</strong></li>
    <li class="p-footer">Linkedin</li>
    <li class="p-footer">Github</li>
    <li class="p-footer">Instagram</li>
  </div>
</ul>
