  <div class="footer">
    <li class="p-footer"><strong>Follow me</strong></li>
    <a href="https://www.linkedin.com/in/karine-legault-mallette" class="p-footer">Linkedin</a>
    <a href="https://github.com/karinelegault" class="p-footer">Github</a>
    <a href="" class="p-footer">Instagram</a>
  </div>
