<div class="">
  <div class="">
    <%= link_to 'karine.', root_path, class: "" %>
  </div>
  <div class="">
    <ul class="">
      <div class="">
        <li class="">
          <%= link_to "Profile", about_path, class: "" %>
        </li>
        <li class="">
          <%= link_to "Contact", contact_path, class: "" %>
        </li>
      </div>
    </ul>
  </div>
</div>
