<div class="h1 intro">Hello world, my name is <strong>Karine</strong>,<br><br>
  I’m a digital project manager, web dev <br>and tech enthusiast.
  I love to work on meaningful<br>and creative projects.
</div>
<div class="slider">
  <div class="h2 latestwork">Latest work</div>
  <div class="cards">
    <div class="card">
      <div class="image">
      </div>
      <div class="par cat">Website</div>
      <div class="h3 projecttitle">Project Title</div>
    </div>
    <div class="card">
      <div class="image">
      </div>
      <div class="par cat">Website</div>
      <div class="h3 projecttitle">Project Title</div>
    </div>
    <div class="card">
      <div class="image">
      </div>
      <div class="par cat">Website</div>
      <div class="h3 projecttitle">Project Title</div>
    </div>
    <div class="card">
      <div class="image">
      </div>
      <div class="par cat">Website</div>
      <div class="h3 projecttitle">Project Title</div>
    </div>
  </div>
</div>
