<div class="intro">Hello world, my name is <strong>Karine</strong>,<br><br>
I’m a digital project manager, web dev <br>and tech enthusiast. I love to work on meaningful<br>and creative projects.</div>
