.contact {
  background-color: $purple;
  height: 68px;
  width: 140px;
  border: solid 1px;
  border-color: $almostwhite;
  margin: auto;
  font-size: 18px;
  font-family: $montserrat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact:hover {
  opacity: 0.6;
  color: $almostwhite;
}
