.cards {
  display: inline-flex;
}

.card {
  height: 220px;
  width: 224px;
  border: 1px solid $darkgrey;
  background-color: $almostblack;
  margin-right: 26px;
}

.image {
  width: 180px;
  height: 96px;
  border: 1px solid $darkgrey;
  margin-top: 14px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 14px;
}

.cat {
  margin-left: 22px;
  color: $darkgrey;
  text-transform: uppercase;
}

.projecttitle {
  margin-left: 22px;
  color: $lilac;
}
